header { font-size:x-large; font-family: sans-serif; }
#search { float: right; }
.gold { background-color: gold; }
.padded { padding:20px 10px; }

.grid-container { 
    display: grid; 
    grid-template-areas:
      'ph ph ph ph ph'
      'ln cn cn cn cn'
      'ln cn cn cn cn'
      ;
  }

  header {
    grid-area: ph;
    padding:20px 10px;
    background-color: gold;
  }

  nav { grid-area: ln }

  main { grid-area: cn }

  